<h2 mat-dialog-title class="search" mat-dialog-title>Procurando Usuário {{ username }}...</h2>

<div mat-dialog-content>
  
  <mat-progress-spinner 
  color="primary" 
  mode="indeterminate"
  *ngIf="user == null">
  Pesquisando...
  </mat-progress-spinner>

  <section>

    <mat-card-header class="perfil">
      <img [src]="user?.avatar_url" class="foto-perfil">
      <h3>{{ user?.name }}</h3>
      <h3 mat-dialog-title>
        <p><mat-icon>account_box</mat-icon></p>
        <a [href]="user?.html_url" target="_blank" class="perfil-links">{{ user?.login }}</a>
      </h3>
      <h4>{{ user?.bio }}</h4>
    </mat-card-header>

    <main class="container-informacoes">
      <div class="info">
        <h5>
          <mat-icon>assignment_ind</mat-icon>
          ID da conta {{user?.id}}
        </h5>
        <h5>
          <mat-icon>build</mat-icon>
          Conta criada em {{ user?.created_at | date}}
        </h5>
        <h5>
          <mat-icon>room</mat-icon>
          Localização {{ user?.location }}
        </h5>
      </div>
  
      <div class="info">
        <h5>
          <mat-icon>people_outline</mat-icon>
          Seguindo {{ user?.followers }}
        </h5>
        <h5>
          <mat-icon>person_add</mat-icon>
          Seguidores {{ user?.following }}
        </h5>
        <h5>
          <mat-icon>create_new_folder</mat-icon>
          Repositórios {{ user?.public_repos }}
        </h5>
      </div>
    </main>

  </section>

  <ul class="repos-container">
    <h3>Lista dos Repositórios:</h3>
    <li *ngFor="let index of repositoriesLists" class="list-repos">
      <p>
        {{ index.name }}
        <mat-icon>star</mat-icon> {{ index.stargazers_count }} {{ index.language }}
      </p>
      <button mat-raised-button color="accent">
        <a [href]="index.html_url" target="_blank">Acesse no GitHub</a>
      </button>
    </li>
  </ul>

</div>