<div class="container">

  <div class="text-css">
    <h1 class="line">Pesquise qualquer pessoa no GitHub...</h1>
  </div>
  
  <div class="search">
    <mat-form-field appearance="legacy">
      <mat-label class="text-caixa">Pesquise por um usuário do GitHub</mat-label>
      <input 
      class="input-text"
      type="text" 
      matInput 
      autocomplete="off"
      [formControl]="userNameToFind"
      (keyup.enter)="showDialog()">

      <mat-error>
        <span>
          Informe um username para ser pesquisado
        </span>
      </mat-error>
    </mat-form-field>

    <button 
    class="btn"
    mat-stroked-button 
    color="primary"
    [disabled]="userNameToFind.invalid"
    (click)="showDialog()">
      <mat-icon>search</mat-icon>
    </button>
    
  </div>
</div>